@{
    ViewData["Title"] = "Home Page";
}

@model TI_Projeto_Grupo7.Models.ViewsModels.Home.HomeIndexViewModel;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Index - Flexor Bootstrap Template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;
    1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;
    1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/assets/css/main.css" rel="stylesheet">
</head>

<body class="index-page">

    <header id="header" class="header sticky-top">

        <div class="branding d-flex align-items-cente">

            <div class="container position-relative d-flex align-items-center justify-content-between">
                <a href="@Url.Action("Index","Home")" class="logo d-flex align-items-center">
                    <!-- Uncomment the line below if you also wish to use an image logo -->
                    <img src="~/assets/img/logo2.png" alt="">
                    <h1 class="sitename">EvoluBank</h1>
                </a>

                <nav id="navmenu" class="navmenu">
                    <ul>
                        <li><a href="#hero" class="active">Home<br></a></li>
                        <li><a href="#about">About Us</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#faq">FAQ's</a></li>
                        <li><a href="#contact">Support</a></li>
                        

                        @if (User.Identity.IsAuthenticated)
                        {
                            <!-- Logged-In User Options -->
                            <li class="dropdown">
                                <a href="#">
                                    <img src="~/assets/img/user.jpg" class="rounded-circle" alt="User Icon" width="30">
                                    @User.Identity.Name
                                    <i class="bi bi-chevron-down"></i>
                                </a>
                                <ul>
                                    <li><a href="@Url.Action("Transfers","Transfers")">Transfers</a></li>
                                    <li><a href="@Url.Action("TransfersHistory","Transfers")">Transfers History</a></li>
                                    <li><a href="/Identity/Account/Manage">Profile</a></li>
                                    <li><a href="/Admin/dashboard">Admin</a></li>
                                    <li>
                                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("", new { area = "" })" method="post" style="display: inline;">
                                            @Html.AntiForgeryToken()
                                            <button type="submit" style="color: #333; background: none; border: none; 
                                                    text-decoration: none; padding-left: 20px;padding-top:5px; margin: 0; cursor: pointer; transition: color 0.3s;"
                                                    onmouseover="this.style.color='#ff5821'"
                                                    onmouseout="this.style.color='#333'">
                                                Logout
                                            </button>
                                        </form>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <!-- Guest Options -->
                            <li><a href="Identity/Account/Login">Sign In</a></li>
                        }
                    </ul>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>

            </div>

        </div>

    </header>

    <main class="main">

        <!-- Hero Section -->
        <section id="hero" class="hero section dark-background">

            <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

            <div class="container position-relative">

                <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
                    <h2>Welcome to Our Bank</h2>
                    <p>
                        We are committed to providing exceptional financial solutions tailored to your needs. 
                        Our experienced team leverages innovation and security to empower your financial future.
                    </p>
                </div><!-- End Welcome -->

                <div class="content row gy-4">
                    <div class="col-lg-4 d-flex align-items-stretch">
                        <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
                            <h3>Why Choose Our Services?</h3>
                            <p>
                                We offer personalized banking solutions to meet your 
                                financial needs. With security, innovation, and a dedicated team, 
                                we ensure you have the best options for your financial future.
                            </p>
                            <div class="text-center">
                                <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div><!-- End Why Box -->

                    <div class="col-lg-8 d-flex align-items-stretch">
                        <div class="d-flex flex-column justify-content-center">
                            <div class="row gy-4">

                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
                                        <i class="bi bi-clipboard-data"></i>
                                        <h4>Security in Every Transaction</h4>
                                        <p>
                                            Your assets deserve maximum protection. 
                                            We provide state-of-the-art security and 
                                            24-hour monitoring for all your transactions.
                                        </p>
                                    </div>
                                </div><!-- End Icon Box -->

                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
                                        <i class="bi bi-gem"></i>
                                        <h4>Personalized Financial Consulting</h4>
                                        <p>
                                            Our team of specialists is ready to craft a financial 
                                            plan that maximizes your returns and minimizes risks.
                                        </p>
                                    </div>
                                </div><!-- End Icon Box -->

                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
                                        <i class="bi bi-inboxes"></i>
                                        <h4>Convenience for Your Daily Life</h4>
                                        <p>
                                            Enjoy fast and easy transactions with our app and online services, 
                                            ensuring a streamlined financial experience.
                                        </p>
                                    </div>
                                </div><!-- End Icon Box -->

                            </div>
                        </div>
                    </div>
                </div><!-- End  Content-->

            </div>
        </section><!-- /Hero Section -->
        <!-- About Section -->
        <section id="about" class="about section light-background">

            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-5 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">
                        <img src="assets/img/about.jpg" class="img-fluid" alt="">
                        <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
                    </div>

                    <div class="col-lg-7 content" data-aos="fade-up" data-aos-delay="100">
                        <h3>About Us</h3>
                        <p>
                            Dolor iure expedita id fuga asperiores qui sunt consequatur minima. Quidem voluptas deleniti. Sit quia molestiae quia quas qui magnam itaque veritatis dolores. Corrupti totam ut eius incidunt reiciendis veritatis asperiores placeat.
                        </p>
                        <ul>
                            <li>
                                <i class="bi bi-diagram-3"></i>
                                <div>
                                    <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                                    <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                                </div>
                            </li>
                            <li>
                                <i class="bi bi-fullscreen-exit"></i>
                                <div>
                                    <h5>Magnam soluta odio exercitationem reprehenderi</h5>
                                    <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p>
                                </div>
                            </li>
                            <li>
                                <i class="bi bi-broadcast"></i>
                                <div>
                                    <h5>Voluptatem et qui exercitationem</h5>
                                    <p>Et velit et eos maiores est tempora et quos dolorem autem tempora incidunt maxime veniam</p>
                                </div>
                            </li>
                            <li>
                                <i class="bi bi-buildings"></i>
                                <div>
                                    <h5><del></del>istinctio dolorum </h5>
                                    <p>Et velit et eos maiores est tempora et quos dolorem autem tempora incidunt maxime veniam</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>

        </section><!-- /About Section -->
        <!-- Team Section -->
        <section id="team" class="team section light-background">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Team</h2>
                <p>Dedicated professionals committed to delivering excellence and innovation in every financial service we provide.</p>
            </div><!-- End Section Title -->

            <div class="container">

              <div class="row gy-4">
                    @if (Model.dev != null && Model.dev.Any())
                    {
                        @foreach (var Developers in Model.dev)
                        {
                            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                                <div class="team-member">
                                    <div class="member-img">
                                        <img src="@Developers.devImage" class="img-fluid" alt="">
                                        <div class="social">
                                            <a href="@Developers.twitter"><i class="bi bi-twitter"></i></a>
                                            <a href="@Developers.instagram"><i class="bi bi-instagram"></i></a>
                                            <a href="@Developers.linkedin"><i class="bi bi-linkedin"></i></a>
                                        </div>
                                    </div>
                                    <div class="member-info">
                                        <h4>@Developers.devName</h4>
                                        <span>@Developers.devDescription</span>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No developers found.</p>
                    }
                </div>

            </div>

        </section><!-- /Team Section -->
       
        <!-- Faq Section -->
        <section id="faq" class="faq section light-background">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Frequently Asked Questions</h2>
                <p>
                    Find quick answers to common questions about our services and products.
                </p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row justify-content-center">

                    <div class="col-lg-8">

                        <div class="faq-container">

                            <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="200">
                                <i class="faq-icon bi bi-question-circle"></i>
                                <h3>How can I open a checking account at the bank?</h3>
                                <div class="faq-content">
                                    <p>
                                        To open a checking account, you can visit any of our branches with a valid ID, proof of residence, and proof of income. Alternatively, you can start the account opening process online through our website.
                                    </p>
                                </div>
                                <i class="faq-toggle bi bi-chevron-right"></i>
                            </div><!-- End Faq item-->

                            <div class="faq-item" data-aos="fade-up" data-aos-delay="300">
                                <i class="faq-icon bi bi-question-circle"></i>
                                <h3>What fees are associated with the checking account?</h3>
                                <div class="faq-content">
                                    <p>
                                        Fees may vary depending on the type of account. 
                                        Basic accounts often have reduced or no fees, while 
                                        premium accounts offer more services and may have additional charges. 
                                        Please refer to our fee schedule on the website for detailed information.
                                    </p>
                                </div>
                                <i class="faq-toggle bi bi-chevron-right"></i>
                            </div><!-- End Faq item-->

                            <div class="faq-item" data-aos="fade-up" data-aos-delay="400">
                                <i class="faq-icon bi bi-question-circle"></i>
                                <h3>How can I access the bank’s online banking?</h3>
                                <div class="faq-content">
                                    <p>
                                        To access online banking, you first need to register on our platform. 
                                        Visit the login page on our website, click on "First Time User," and 
                                        follow the instructions to create your access credentials.
                                    </p>
                                </div>
                                <i class="faq-toggle bi bi-chevron-right"></i>
                            </div><!-- End Faq item-->

                            <div class="faq-item" data-aos="fade-up" data-aos-delay="500">
                                <i class="faq-icon bi bi-question-circle"></i>
                                <h3>What should I do if my card is lost or stolen?</h3>
                                <div class="faq-content">
                                    <p>
                                        If your card is lost or stolen, contact customer 
                                        service immediately via our phone number or app. 
                                        card will be blocked, and a new one will be issued to you.
                                    </p>
                                </div>
                                <i class="faq-toggle bi bi-chevron-right"></i>
                            </div><!-- End Faq item-->

                            <div class="faq-item" data-aos="fade-up" data-aos-delay="600">
                                <i class="faq-icon bi bi-question-circle"></i>
                                <h3>How can I apply for a personal loan?</h3>
                                <div class="faq-content">
                                    <p>
                                        You can apply for a personal loan by visiting our website and 
                                        filling out the online application form or by visiting any of our branches.
                                        Make sure to have your ID, proof of income, and bank statements ready. 
                                        Once submitted, our team will review your application and contact you with further details.
                                    </p>
                                </div>
                                <i class="faq-toggle bi bi-chevron-right"></i>
                            </div><!-- End Faq item-->

                        </div>

                    </div>

                </div>

            </div>

        </section><!-- /Faq Section -->
        <!-- Contact Section -->
        <section id="contact" class="contact section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Support</h2>
                <p>Contact us for any questions or support. We are here to assist you!</p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4">

                    <div class="col-md-6">
                        <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
                            <i class="icon bi bi-geo-alt flex-shrink-0"></i>
                            <div>
                                <h3>Address</h3>
                                <p>Polytechnic Institute of Santarém, 2001-904 Santarém</p>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
                            <i class="icon bi bi-telephone flex-shrink-0"></i>
                            <div>
                                <h3>Call Us</h3>
                                <p>+1 5589 55488 55</p>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="400">
                            <i class="icon bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h3>Email Us</h3>
                                <p>customer.support@evolubank.pt</p>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="500">
                            <i class="icon bi bi-share flex-shrink-0"></i>
                            <div>
                                <h3>Social Profiles</h3>
                                <div class="social-links">
                                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                                    <a href="#"><i class="bi bi-facebook"></i></a>
                                    <a href="#"><i class="bi bi-instagram"></i></a>
                                    <a href="#"><i class="bi bi-skype"></i></a>
                                    <a href="#"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                </div>
        
                <form asp-action="CreateSup" asp-controller="Home" method="post" class="info-item2">
                    <div class="row gy-4">
                        <div class="col-md-6">
                            <input type="text" name="supName" class="form-control" placeholder="Your Name" required="">
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                        </div>
                        <div class="col-md-12">
                            <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                        </div>
                        <div class="col-md-12">
                            <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="submit">Send Message</button>
                        </div>
                    </div>
                </form><!-- End Contact Form -->

            </div>

        </section><!-- /Contact Section -->

    </main>

    <footer id="footer" class="footer light-background">

        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6 footer-about">
                    <a href="@Url.Action("Index","Home")" class="logo d-flex align-items-center">
                        <span class="sitename">EvoluBank</span>
                    </a>
                    <div class="footer-contact pt-3">
                        <p>Polytechnic Institute of Santarém</p>
                        <p>2001-904 Santarém</p>
                        <p class="mt-3"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
                        <p><strong>Email:</strong> <span>customer.support@evolubank.pt</span></p>
                    </div>
                    <div class="social-links d-flex mt-4">
                        <a href=""><i class="bi bi-twitter-x"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#about">About us</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-12 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
                    <form action="forms/newsletter.php" method="post" class="php-email-form">
                        <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your subscription request has been sent. Thank you!</div>
                    </form>
                </div>

            </div>
        </div>

        <div class="container copyright text-center mt-4">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">EvoluBank</strong> <span>All Rights Reserved</span></p>
            <div class="credits">
                <div class="container">
                    &copy; 2024 - EvoluBank - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                </div>
            </div>
        </div>

    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>

</body>
</html>